---
import '../../styles/global.css';
import SimpleLoginForm from '../../components/common/admin/SimpleLoginForm.vue';
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Logowanie | Astro CMS</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-gray-50">
    <SimpleLoginForm client:load />
  </body>
</html>